@use "../../base/variables" as *;

.food-event-suggest-modal {
    .food-event-suggest-modal_hint {
        margin: 0;
        font-size: 13px;
        color: var(--ColorGray);
        text-align: left;
    }
}
