.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    a {
        text-decoration: none;
        color: #2c7aca;
        font-weight: bold;
        padding: 10px 15px;
        border: 1px solid #2c7aca;
        border-radius: 4px;
        background-color: #f0f8ff;

        &:hover {
            background-color: #2c7aca;
            color: #fff;
        }
    }
}

.calendar {
    display: flex;
    flex-flow: column;
}

.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding: 20px 0;
}

.calendar .days {
    display: flex;
    flex-flow: wrap;
}

.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #2c7aca;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #818589;
    color: #fff;
    background-color: #448cd6;
}

.calendar .days .day_name:nth-child(7) {
    border: none;
}

.calendar .days{
     .not-current-month{
        background-color: #f1f1f1;
    }
}

.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    //padding: 15px;
    font-weight: bold;
    color: #7c878d;
    min-height: 100px;
    position: relative;

    .day_number {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        font-size: 14px;
        padding: 4px;
        background-color: white;
        border-bottom-right-radius: 10px;
        z-index: 1;
    }

    .event {
        font-weight: 500;
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 4px;
        background-color: gray;
        color: #fff;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;

        .event_title {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            padding: 6px 10px;
            margin: 0;
            text-align: right;
        }

        &.event--color-Accept{
            background-color: green;
        }

        &.event--color-Maybe{
            background-color: orange;
        }

        &.event--color-Decline{
            background-color: red;
        }
    }

    &:nth-child(7n+1) {
        border-left: 1px solid #e6e9ea;
    }
}

.event-modal{
    border: none;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    font-weight: 500;
    padding: 0;
    text-align: center;

    .modal-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        background-color: black;
        padding: 15px 20px;
        color: white;

        .event-title{
            margin: 0;
        }

        .event-date{
            margin: 0;
        }
    }

    .event-modal-close{
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    .event-participation{
        padding: 15px 20px 10px 20px;

        .event-participation_title{
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
            color: #333;
        }

        form{
            border: none;
            max-width: unset;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            border-radius: 0;

            fieldset{
                flex-direction: row;
            }
        }

        .event-response-actions {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            width: 100%;

            fieldset{
                border: none;
                padding: 0;
                margin: 0 0 10px 0;

                &.fieldset-availability{
                    display: flex;
                    align-items: stretch;
                    justify-content: stretch;
                    width: 100%;

                    .event-response-button {
                        style: none;
                        padding: 10px 15px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        background-color: #f0f8ff;
                        font-weight: bold;
                        opacity: 0.5;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        width: calc(100% / 3);

                        &:hover {
                            opacity: 1;
                        }

                        &.event-response-accept{
                            background-color: #e6f4ea;
                            color: green;
                            border-radius: 4px 0 0 4px;

                            &.selected {
                                border-color: green;
                                opacity: 1;
                            }
                        }

                        &.event-response-maybe{
                            background-color: #fff4e5;
                            color: orange;
                            border-radius: 0;

                            &.selected {
                                border-color: orange;
                                opacity: 1;
                            }
                        }

                        &.event-response-decline{
                            background-color: #fde6e6;
                            color: red;
                            border-radius: 0 4px 4px 0;

                            &.selected {
                                border-color: red;
                                opacity: 1;
                            }
                        }

                        &.unselected {
                            background-color: gray;
                            border: darkgray 1px solid;
                            color: white;
                        }
                    }
                }

                &.fieldset-update-time{
                    display: grid;
                    grid-template-columns: 20% 30% 20% 30%;
                    margin-top: 10px;

                    p{
                        margin: 0;
                        padding: 10px 0;
                        text-align: center;
                    }

                    input{
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 8px;
                        font-size: 14px;
                        width: 100%;
                    }

                    button{
                        grid-column: span 4;
                        margin-top: 10px;
                        border: none;
                        background-color: gray;
                        color: white;
                        cursor: pointer;
                        padding: 10px;
                    }
                }

            }
        }
    }

    .event-meals{
        padding: 20px;

        .meals-list{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .meal{
                display: flex;
                align-items: center;
                justify-content: space-between;

                form{
                    border: none;
                    max-width: unset;
                    background-color: transparent;
                    box-shadow: none;
                    padding: 0;
                    border-radius: 0;

                    fieldset{
                        flex-direction: row;
                    }
                }

                .event-response-actions{
                    margin: 0;
                    padding: 0;
                    width: 50%;

                    .fieldset-availability{
                        margin: 0;
                        padding: 0;
                        border: none;
                        display: flex;

                        .event-response-button {
                            padding: 5px 8px;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            background-color: #f0f8ff;
                            font-weight: bold;
                            opacity: 0.5;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            width: 50%;

                            &:hover {
                                opacity: 1;
                            }

                            &.event-response-accept{
                                background-color: #e6f4ea;
                                color: green;
                                border-radius: 4px 0 0 4px;

                                &.selected {
                                    border-color: green;
                                    opacity: 1;
                                }
                            }

                            &.event-response-decline{
                                background-color: #fde6e6;
                                color: red;
                                border-radius: 0 4px 4px 0;

                                &.selected {
                                    border-color: red;
                                    opacity: 1;
                                }
                            }

                            &.unselected {
                                background-color: gray;
                                border: darkgray 1px solid;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .event-participants{
        padding: 20px;

        .participants-list{
            display: flex;
            flex-direction: column;
            gap: 8px;

            .participant-group_title{
                margin: 0 0 5px 0;
                padding: 8px 12px;
                font-size: 16px;
                color: #333;
                font-weight: 400;
                text-align: center;
                border-bottom: 1px solid #e6e9ea;
            }

            .participant{
                display: flex;
                justify-content: space-between;
                padding: 8px 12px;
                border-radius: 4px;
                background-color: #f5f5f5;

                &.participant--status-Accept{
                    border-left: 4px solid green;
                }

                &.participant--status-Maybe{
                    border-left: 4px solid orange;
                }

                &.participant--status-Decline{
                    border-left: 4px solid red;
                }
            }
        }
    }

    h1, h2, h3, h4{
        margin: 0 0 10px 0;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: -1;
    }
}
