@use "variables" as *;

//LOGIN FORM
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: var(--BorderRadiusMedium);
    background-color: #f9f9f9;
    box-shadow: var(--BoxShadowLight);

    fieldset{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .field{
        width: 100%;
        margin: 5px 0 10px 0;

        legend, label{
            display: block;
            margin-bottom: 5px;
        }

        .checkbox-entry{
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            label{
                margin: 0;
            }

            input[type="checkbox"]{
                margin: 0 15px 0 0;
                width: 20px;
                height: 20px;
            }
        }

        input, select, textarea{
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: var(--BorderRadiusMedium);
            height: 40px;

            &[type="checkbox"]{
                width: 10%;
            }

            &[type="password"] {
                line-height: 0px;
                font: large Verdana, sans-serif;
                letter-spacing: 1px;
            }
        }

        &.checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            input[type="checkbox"]{
                position: relative;
                margin-right: 10px;

                &::before{
                    content: '';
                    display: block;
                    width: 35px;
                    height: 20px;
                    border: 1px solid #ccc;
                    border-radius: var(--BorderRadiusMedium);
                    background-color: #fff;
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s;
                }

                &::after{
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: var(--BorderRadiusMedium);
                    background-color: var(--ColorPrimary);
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 30%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s;
                }

                &:checked
                {
                    &::after{
                        left: 70%;
                        background-color: var(--ColorWhite);
                    }

                    &::before{
                        background-color: var(--ColorPrimary);
                    }
                }
            }
        }
    }

    .btn-toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        input[type="submit"], button{
            padding: 10px 20px;
            border: none;
            border-radius: var(--BorderRadiusSmall);
            background-color: var(--ColorPrimary);
            color: var(--ColorWhite);
            cursor: pointer;

            &:hover{
                background-color: var(--ColorPrimaryDark);
            }
        }

        #ForgotPassword{
            margin-top: 20px;
            margin-left: 0;
            margin-bottom: 5px;
            background-color: transparent;
            color: var(--ColorPrimary);
            border: none;
            cursor: pointer;
            font-size: 0.8em;
        }
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }
}
