@use "glightbox/dist/css/glightbox.css";
@use 'swiper/swiper-bundle.css';

@use "variables" as *;
@use "fonts.scss";
@use "normalize.scss";
@use "typography.scss";
@use "forms.scss";
@use "calendar.scss";

@use "layout/header.scss";

@use "pages/DashboardPage.scss";
@use "pages/RegistrationPage.scss";
@use "pages/NoticesPage.scss";
@use "pages/ProfilePage.scss";
@use "pages/CalendarPage.scss";
@use "pages/SuggestionPage.scss";
@use "pages/FoodPage.scss";

@view-transition {
    navigation: auto;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.section {
    max-width: var(--MaxWidth);
    margin: 50px auto;
    padding: 0 20px;
}

.section_content{
    margin: 0 auto;
}

.section_intro{
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    border: 1px solid var(--ColorGray);
    background-color: var(--ColorPrimary);
    width: 100%;
    view-transition-name: section-intro;

    .hl1{
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--ColorWhite);
        view-transition-name: section-introtitle;
    }

    p{
        margin: 10px auto 0 auto;
        font-size: 14px;
        font-weight: 300;
        color: var(--ColorGray);
        max-width: 800px;
    }
}

//Styles to make the footer stick to the bottom of the page
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    width: 100%;
    overflow-x: hidden;
    background-color: var(--ColorWhite);

    .area_header {
        grid-area: header;
        z-index: 100;
    }

    .area_content {
        grid-area: content;
        width: 100%;
        margin: 0 auto;
        margin-top: 75px;

        @include media(max-medium) {
            margin-top: -2px;
            margin-bottom: 50px;
        }
    }

    .area_footer {
        grid-area: footer;
        text-align: center;
    }

    img {
        &.leftAlone {
            float: left;
            margin: 5px 100% 10px 0;
        }

        &.rightAlone {
            float: right;
            margin-left: 100%;
        }

        &.center {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        &.right {
            float: right;
            margin-left: 20px;
        }

        &.left {
            float: left;
            padding: 0px 20px 10px 0;
            margin: 0px 0 0 0;
        }
    }
}

.status-message{
    z-index: 1000;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #79f291;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: all 0.5s ease;
    animation: fadeIn 0.3s;

    &.status-message--hide  {
        top: -30px;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

dialog{
    border: none;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    padding: 0;
    text-align: center;

    form{
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .dialog-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        background-color: black;
        padding: 15px 20px;
        color: white;

        .dialog-title{
            margin: 0;
        }

        .dialog-date{
            margin: 0;
        }

        .dialog-description{
            margin: 0;
            text-align: start;
        }
    }

    .dialog-content{
        padding: 20px;
    }

    .dialog-close{
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    h1, h2, h3, h4{
        margin: 0 0 10px 0;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: -1;
    }
}
