@use "glightbox/dist/css/glightbox.css";
@use 'swiper/swiper-bundle.css';

@use "variables" as *;
@use "fonts.scss";
@use "normalize.scss";
@use "typography.scss";
@use "forms.scss";

@use "layout/header.scss";
@use "layout/introbar.scss";
@use "layout/dialog.scss";
@use "layout/calendar.scss";

@use "pages/DashboardPage.scss";
@use "pages/RegistrationPage.scss";
@use "pages/NoticesPage.scss";
@use "pages/ProfilePage.scss";
@use "pages/CalendarPage.scss";
@use "pages/SuggestionPage.scss";
@use "pages/FoodPage.scss";

@view-transition {
    navigation: auto;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

//Styles to make the footer stick to the bottom of the page
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    width: 100%;
    overflow-x: hidden;
    background-color: var(--ColorLightGray);

    .area_header {
        grid-area: header;
        z-index: 100;
    }

    .area_content {
        grid-area: content;
        width: 100%;
        margin: 0 auto;

        .section {
            max-width: var(--MaxWidth);
            margin: 50px auto;
            padding: 0 20px;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 80px;
            }
        }

        .section_content{
            margin: 0 auto;
        }

        @include media(max-medium) {
            margin-top: -2px;
            margin-bottom: 50px;
        }
    }

    .area_footer {
        grid-area: footer;
        text-align: center;
    }

    img {
        &.leftAlone {
            float: left;
            margin: 5px 100% 10px 0;
        }

        &.rightAlone {
            float: right;
            margin-left: 100%;
        }

        &.center {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        &.right {
            float: right;
            margin-left: 20px;
        }

        &.left {
            float: left;
            padding: 0px 20px 10px 0;
            margin: 0px 0 0 0;
        }
    }
}

.status-message{
    z-index: 1000;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ColorStatusGood);
    color: #000;
    padding: 10px 20px;
    border-radius: var(--BorderRadiusSmall);
    font-size: 14px;
    box-shadow: var(--BoxShadowLight);
    opacity: 1;
    transition: all 0.5s ease;
    animation: fadeIn 0.3s;

    &.status-message--hide  {
        top: -30px;
        opacity: 0;
    }
}

.pwa-install-banner{
    grid-column: span 2;
    display: none; /* Hidden by default, shown via JS */
    position: relative;
    background: var(--ColorPrimaryLight);
    padding: 1em;
    text-align: center;
    font-size: 1.1em;
    border-radius: var(--BorderRadiusSmall);
    margin-bottom: 20px;

    .pwa-install-text{
        margin: 0 0 5px 0;
        padding: 0 20px;
        color: var(--ColorPrimary);
    }

    .pwa-install-close {
        position: absolute;
        top: 8px;
        right: 8px;
        background: transparent;
        color: var(--ColorPrimary);
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
