@use "glightbox/dist/css/glightbox.css";
@use 'swiper/swiper-bundle.css';

@use "variables" as *;
@use "fonts.scss";
@use "normalize.scss";
@use "typography.scss";
@use "forms.scss";
@use "calendar.scss";

@use "layout/header.scss";

@use "pages/DashboardPage.scss";
@use "pages/RegistrationPage.scss";
@use "pages/NoticesPage.scss";
@use "pages/ProfilePage.scss";
@use "pages/CalendarPage.scss";

.section {
    max-width: var(--MaxWidth);
    margin: 50px auto;
    padding: 0 20px;
}

.section_content{
    max-width: var(--MaxWidthContent);
    margin: 0 auto;
}

//Styles to make the footer stick to the bottom of the page
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    width: 100%;
    overflow-x: hidden;
    background-color: var(--ColorWhite);

    .area_header {
        grid-area: header;
        z-index: 100;
    }

    .area_content {
        grid-area: content;
        width: 100%;
        margin: 0 auto;
    }

    .area_footer {
        grid-area: footer;
        text-align: center;
    }

    img {
        &.leftAlone {
            float: left;
            margin: 5px 100% 10px 0;
        }

        &.rightAlone {
            float: right;
            margin-left: 100%;
        }

        &.center {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        &.right {
            float: right;
            margin-left: 20px;
        }

        &.left {
            float: left;
            padding: 0px 20px 10px 0;
            margin: 0px 0 0 0;
        }
    }
}

.status-message{
    z-index: 1000;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #79f291;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: all 0.5s ease;
    animation: fadeIn 0.3s;

    &.status-message--hide  {
        top: -30px;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
