@use "variables" as *;

body{
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    margin: 0;
}

h1{
    font-size: 35px;
}

p {
    margin: 0;

    &.text-left {
        text-align: left;
    }

    &.text-center {
        text-align: center;
    }

    &.text-right {
        text-align: right;
    }

    &.text-justify {
        text-align: justify;
    }
}

a {
    cursor: pointer;
    color: var(--ColorLink);
    text-decoration: none;
}

.icon-button{
    display: inline-block;
    height: 30px;
    width: 30px;

    .button-icon{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    &:hover {
        opacity: 0.8;
    }
}

.button {
    background-color: var(--ColorPrimary);
    color: var(--ColorWhite);
    display: inline-block;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: bold;
    border-radius: var(--BorderRadiusSmall);
    padding: 9px 12px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    box-shadow: none;
    appearance: none;
    border: none;
    border: 1px solid transparent;
    margin: 10px 0 0 0;

    &.button--arrow {
        padding-right: 25px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            border-right: 2px solid var(--ColorWhite);
            border-bottom: 2px solid var(--ColorWhite);
            height: 10px;
            width: 10px;
            transition: 0.2s ease-in-out;
        }

        &:hover::after {
            right: 9px;
        }
    }

    &:hover {
        background-color: transparent;
        border: 1px solid var(--ColorPrimary);
        color: var(--ColorPrimary);
    }

    @include media(max-desktop) {
        overflow-wrap: break-word;
        white-space: normal;
    }
}

.link--button {
    background-color: var(--ColorButton);
    color: var(--ColorButtonText);
    display: inline-block;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: bold;
    border-radius: var(--BorderRadiusSmall);
    padding: 13px 35px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    align-self: flex-end;

    &:hover {
        background-color: var(--ColorButtonHover);
    }

    @include media(max-desktop) {
        overflow-wrap: break-word;
        white-space: normal;
    }
}


kbd {
    display: inline-block;
    width: auto;
    border-radius: var(--BorderRadiusSmall);
    border: 1px solid #b4b4b4;
    color: #333333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    transform: translateY(-2px) scale(0.85) rotate(5deg);
    text-transform: uppercase;
}

.coming_soon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
