@mixin media($size) {
    @if $size ==smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==medium {
        @media (min-width: 700px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $size ==maxwidth {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==max-medium {
        @media (max-width: 700px) {
            @content;
        }
    }

    @else if $size ==max-smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==max-desktop {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @else if $size ==max-maxwidth {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}

body {
    --ColorPrimary: #3f567c;
    --ColorPrimaryLight: #4E9DAE;
    --ColorPrimaryDark: #0c2041;
    --ColorSecondary: #C9A141;
    --ColorSecondaryLight: #fad47a;
    --ColorSecondaryDark: #806934;
    --ColorDarkGray: rgb(161, 161, 161);
    --ColorExtraDarkGray: rgb(211, 211, 211);
    --ColorGray: #f0f0f0;
    --ColorLightGray: #fafafa;

    --ColorHeader: #0c2041;

    --ColorBlack: #000000;
    --ColorWhite: #FFFFFF;

    --ColorFont: #000000;

    --ColorButton: var(--ColorPrimary);
    --ColorButtonHover: var(--ColorPrimaryDark);
    --ColorButtonText: var(--ColorWhite);

    --MaxWidth: 1200px;
    --MaxWidthContent: 980px;
    --HeaderHeight: 120px;
}
