@mixin media($size) {
    @if $size ==smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==medium {
        @media (min-width: 700px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $size ==maxwidth {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==max-medium {
        @media (max-width: 700px) {
            @content;
        }
    }

    @else if $size ==max-smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==max-desktop {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @else if $size ==max-maxwidth {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}

body {
    --ColorPrimary: #3f567c;
    --ColorPrimaryLight: #C7DCFC;
    --ColorPrimaryDark: #213345;
    --ColorSecondary: #FDDFB2;

    --ColorLightGray: #e2e2e2; //Used for backgrounds
    --ColorGray: #8B7F86; //Used for Navigation

    --ColorBlack: #000000;
    --ColorWhite: #FFFFFF;

    --MaxWidth: 1200px;
    --MaxWidthContent: 980px;
    --HeaderHeight: 120px;

    --BorderRadiusSmall: 5px;
    --BorderRadiusMedium: 10px;
    --BorderRadiusLarge: 20px;

    --ColorStatusGood: #4CAF50;
    --ColorStatusGoodAccent: #e9ffea;
    --ColorStatusWarning: #FFC107;
    --ColorStatusWarningAccent: #fff8df;
    --ColorStatusBad: #F44336;
    --ColorStatusBadAccent: #ffe7e5;

    --BoxShadowLight: 5px 5px 5px rgba(0,0,0,0.03);
    --BoxShadowMenu: 0 2px 10px rgba(0,0,0,0.1);
}
