@use "../variables" as *;

.section.section--DashboardPage {
    .section_content{
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 10px));
        gap: 20px;
        width: 100%;

        .section_infobox{
            background-color: var(--ColorWhite);
            color: var(--ColorBlack);
            padding: 20px;
            border-radius: var(--BorderRadiusMedium);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            box-shadow: var(--BoxShadowLight);

            .hl1, p{
                margin: 0;
            }

            .infobox_list {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: left;

                li {
                    justify-content: space-between;
                    padding: 10px 15px;
                    border-radius: var(--BorderRadiusSmall);
                    background-color: var(--ColorWhite);
                    color: var(--ColorBlack);
                    box-shadow: var(--BoxShadowLight);

                    .hl3{
                        margin: 0;
                    }

                    span{
                        font-size: 14px;
                        font-weight: 200;
                    }

                    .list--foods{
                        list-style: none;
                        padding: 0;
                        margin: 5px 0 0 0;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;

                        li{
                            background-color: var(--ColorGrayLight);
                            color: var(--ColorBlack);
                            padding: 3px 8px;
                            border-radius: var(--BorderRadiusSmall);
                            font-size: 0.9em;
                        }
                    }

                    &.accepted {
                        border-left: 4px solid green;
                    }

                    &.maybe {
                        border-left: 4px solid orange;
                        opacity: 0.5;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    .item_label {
                        font-weight: bold;
                    }

                    .item_value {
                        font-size: 1.2em;
                    }
                }
            }

            &.infobox--welcome{
                overflow: hidden;
                position: relative;
                background-color: var(--ColorPrimary);
                grid-column: span 2;

                .welcome_text{
                    z-index: 1;
                    text-align: left;
                    width: 100%;
                    padding-right: 70px;
                    transform: rotate(-1deg);
                    font-size: 18px;
                    font-family: "Neucha", cursive;
                }

                .welcome_profileimage{
                    position: absolute;
                    top: 5px;
                    right: -10px;
                    height: 100%;
                    border-radius: 50%;
                    margin-bottom: 10px;
                    overflow: hidden;
                    z-index: 1;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -5%;
                    width: 110%;
                    height: 100%;
                    background: var(--ColorPrimaryLight);
                    pointer-events: none;
                    transform: rotate(-3deg);
                }

                @include media(medium) {
                    aspect-ratio: 10 / 1;
                    padding: 40px;

                    .welcome_text{
                        font-size: 24px;
                    }
                }
            }

            @include media(max-medium) {
                grid-column: span 2;
            }
        }
    }

    @include media(max-medium) {
        margin-top: 20px;
    }
}
