@use "../variables" as *;

.section.section--FoodPage{
    margin: 0 auto;

    .section_content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .section_intro{
            margin-bottom: 10px;
        }

        .section_mealcategory{
            border: 1px solid var(--ColorGray);
            border-radius: 20px;
            padding: 15px 20px;

            .hl2{
                margin: 0 0 10px 0;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                .meallist-entry{
                    border: 1px solid var(--ColorGray);
                    border-radius: 10px;
                    padding: 5px 15px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: var(--ColorLightGray);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

                    .button{
                        padding: 5px 10px;
                    }

                    @include media(max-medium) {
                        padding: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
            }
        }
    }
}
