@use "../variables" as *;

.section.section--FoodPage{
    .section_content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .section_foodbox{

            .foodbox-grid{
                gap: 20px;
                list-style: none;
                padding: 0;
                margin: 10px 0 0 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .foodbox-day{
                    background-color: var(--ColorWhite);
                    border-radius: var(--BorderRadiusMedium);
                    padding: 20px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .meallist{
                        list-style: none;
                        padding: 0px;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .meallist-entry{
                            border: 1px solid var(--ColorLightGray);
                            border-radius: var(--BorderRadiusSmall);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .meallist-entry-link{
                                padding: 10px;
                                flex-grow: 1;
                                text-decoration: none;
                                color: var(--ColorTextPrimary);

                                &:hover{
                                    background-color: var(--ColorVeryLightGray);
                                }

                                .foodlist {
                                    list-style: none;
                                    padding: 0;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    margin-top: 10px;

                                    .foodlist-entry{
                                        background-color: var(--ColorLightGray);
                                        border-radius: 20px;
                                        display: inline-block;
                                        padding: 5px 10px;

                                        .food-title{
                                            font-size: 0.9rem;
                                            color: var(--ColorTextSecondary);

                                            .foodlist-entry-supplier{
                                                font-style: italic;
                                                font-size: 12px;
                                                color: var(--ColorTextLight);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @include media(max-desktop) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media(max-medium) {
                    grid-template-columns: 1fr;
                }
            }
        }

        hr{
            background-color: var(--ColorWhite);
            height: 2px;
            width: 100%;
            border: none;
        }

        .section_foodbox--suppliedfoods{
            list-style: none;
            padding: 20px ;
            margin: 0;
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;
            background-color: var(--ColorWhite);
            border-radius: var(--BorderRadiusMedium);

            .foodbox-list{
                list-style: none;
                padding: 0;
                margin: 20px 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .meallist-entry{
                    border-radius: var(--BorderRadiusSmall);
                    border: 1px solid var(--ColorLightGray);
                    padding: 10px 20px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            summary{
                position: relative;
                padding-right: 25px;
                cursor: pointer;

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(30px);
                    float: right;
                    width: 15px;
                    height: 15px;
                    border-right: 2px solid var(--ColorGray);
                    border-bottom: 2px solid var(--ColorGray);
                    transform: translateY(-5px) rotate(45deg);
                    transition: all 0.3s ease;
                }
            }

            &[open] summary::after{
                transform: translateY(-5px) rotate(225deg);
            }
        }
    }
}

.section.section--FoodPageDetails {
    margin-top: 0;

    .section_mealdetails{
        .hl3 {
            margin-bottom: 10px;
        }

        .section_foodlist{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .fooditem{
                background-color: var(--ColorLightGray);
                padding: 20px;
                border-radius: var(--BorderRadiusMedium);
                position: relative;

                p{
                    margin: 0;
                }

                .hl4 {
                    margin: 0;
                }

                .fooditem_statusicon{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: block;
                }

                &.fooditem--New{
                    opacity: 0.6;
                }

                &.fooditem--Rejected{
                    opacity: 0.3;
                }
            }
        }
    }
}
