@use "../variables" as *;

.section.section--NoticesPage {
    .section_content{
        .back-link{
            text-decoration: none;
            font-weight: bold;
            background-color: var(--ColorPrimary);
            padding: 5px 10px;
            border-radius: var(--BorderRadiusSmall);
            border: none;
            color: white;

            &:hover {
                background-color: var(--ColorPrimaryDark);
            }
        }

        .notices-list{
            list-style: none;
            padding: 0;

            .notice_item_wrapper{
                margin-bottom: 20px;
                background-color: var(--ColorWhite);
                border-radius: var(--BorderRadiusMedium);
                transition: box-shadow 0.3s ease;

                .notice_item{
                    padding: 20px;
                    display: block;
                    position: relative;

                    .notice_date{
                        margin: 0;
                        opacity: 0.6;
                        font-size: 12px;
                    }

                    .notice_text{
                        margin: 0;
                    }

                    .new_badge {
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        background-color: var(--ColorPrimaryDark);
                        color: var(--ColorWhite);
                        padding: 2px 6px;
                        border-radius: 20px;
                        font-size: 10px;
                    }
                }

                &:hover {
                    box-shadow: var(--BoxShadowLight);
                }
            }
        }
    }
}
