@use "../variables" as *;

.section.section--RegistrationPage {
    .section_content{
        text-align: center;
        .section_form {

        }

        .section_login {
            margin: 20px 0;
            text-align: center;
            a {
                color: var(--ColorPrimary);
                text-decoration: none;
                font-weight: bold;
                background-color: var(--ColorPrimary);
                padding: 5px 10px;
                border-radius: var(--BorderRadiusSmall);
                border: none;
                color: white;

                &:hover {
                    background-color: var(--ColorPrimaryDark);
                }
            }
        }
    }
}
