@use "../variables" as *;

.section.section--SuggestionPage {
    .section_content {
        .suggestion {
            border: 1px solid var(--ColorBorder);
            border-radius: var(--BorderRadiusMedium);
            padding: 15px;
            margin-bottom: 15px;
            background-color: var(--ColorWhite);
            box-shadow: var(--BoxShadowLight);

            h3 {
                margin: 0 0 10px 0;
                font-size: 18px;
            }

            p {
                margin: 0;
                font-size: 14px;
                color: var(--ColorText);
            }

            .btn_markone{
                padding: 5px 10px;
                margin-top: 10px;
            }
        }

        .section_newsuggestions{
            .btn_markall{
                background-color: var(--ColorExtraDarkGray);
                color: var(--ColorWhite);
                padding: 8px 12px;
                border: none;
                border-radius: var(--BorderRadiusSmall);
                margin-left: 20px;
                padding: 5px 10px;
                cursor: pointer;
                font-weight: 300;

                &:hover {
                    background-color: var(--ColorDarkGray);
                }
            }
        }
    }
}
