.script-role-manager-modal_new {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .input {
        flex: 1;
    }
}

.script-role-manager-modal_list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.script-role-manager-modal_role {
    border: 1px solid var(--ColorLightGray);
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.script-role-manager-modal_role-title {
    font-weight: 600;
}

.script-role-manager-modal_members {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.script-role-manager-modal_error {
    color: var(--ColorStatusBad);
    margin-top: 0.75rem;
}
