dialog{
    border: none;
    max-width: 400px;
    width: 90%;
    border-radius: var(--BorderRadiusMedium);
    border: none;
    font-weight: 500;
    padding: 0;
    text-align: center;
    background-color: var(--ColorLightGray);
    overflow-y: scroll;

    form{
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .dialog-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        background-color: var(--ColorPrimary);
        padding: 15px 20px;
        color: white;

        .dialog-title{
            margin: 0;
            font-size: 20px;
            padding: 0 25px;
        }

        .dialog-date{
            margin: 0;
        }

        .dialog-description{
            margin: 0;
            text-align: start;
        }
    }

    .dialog-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .dialog-infobox {
            background-color: var(--ColorWhite);
            padding: 15px;
            border-radius: var(--BorderRadiusSmall);
            transition: all 0.3s ease;

            .dialog-headline {
                margin: 0 0 10px 0;
                font-size: 16px;
                font-weight: 600;
            }

            .dialog-summary {
                cursor: pointer;
                transition: all 0.3s ease;
                margin: 0;

                &::after{
                    content: '';
                    float: right;
                    width: 15px;
                    height: 15px;
                    border-right: 2px solid var(--ColorGray);
                    border-bottom: 2px solid var(--ColorGray);
                    transform: translateY(-5px) rotate(45deg);
                    transition: all 0.3s ease;
                }
            }

            .dialog-summary-content{
                text-align: block;
                margin-top: 10px;
            }

            &[open] .dialog-summary::after {
                transform: translateY(5px) scaleY(-1) rotate(45deg);
            }
        }
    }

    .dialog-close{
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: -1;
    }
}
