@use "../variables" as *;

header {
    overflow: visible;
    max-width: 100%;
    background-color: var(--ColorHeader);
    width: 100%;
    filter: none;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    .header_nav{
        max-width: var(--MaxWidth);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .nav_brand{
            height: calc(var(--HeaderHeight) - 50px);
            width: auto;
            padding: 10px;

            img {
                height: 100%;
            }

            @include media(max-desktop) {
                display: block;
            }
        }

        .nav_menu{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            .nav_link {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0;
                padding: 10px 20px;
                color: var(--ColorWhite);
                text-align: center;

                .nav_title{
                    margin: 4px 0 0 0;
                    font-size: 10px;
                }

                .nav_icon{
                    width: 40px;
                    height: 40px;

                    &.nav_icon--profile{
                        border-radius: 10px;
                        width: 40px;
                        height: 40px;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &:hover {
                    background-color: var(--ColorPrimary);
                }

                &:active {
                    background-color: var(--ColorPrimary);
                }

                &:focus {
                    background-color: var(--ColorPrimaryLight);
                }

                &.nav_link--active {
                    background-color: var(--ColorPrimary);
                }
            }

            @include media(max-medium) {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: var(--HeaderHeight);
                left: 0;
                width: 100%;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out, opacity 0.3s ease-out;
                background-color: var(--ColorPrimaryLight);

                .nav_link{
                    margin: 0;
                    padding: 20px 30px;
                }

                .body--show & {
                    max-height: 100vh;
                    opacity: 1;
                }
            }
        }

        .nav_button{
            display: none;

            @include media(max-medium) {
                display: inline-block;
                position: relative;
                top: 0px;
                right: 20px;
                width: 50px;
                height: 50px;
                cursor: pointer;

                .bar1, .bar2, .bar3, .bar4 {
                    width: 35px;
                    height: 5px;
                    background-color: var(--ColorPrimary);
                    transition: 0.4s;
                    position: absolute;
                }

                .bar1{
                    top: 6px;

                    .body--show & {
                        opacity: 0;
                    }
                }

                .bar2{
                    top: 18px;

                    .body--show & {
                        opacity: 1;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                }

                .bar3{
                    opacity: 0;
                    top: 18px;

                    .body--show &{
                        opacity: 1;
                        transform-origin: center;
                        transform: rotate(-45deg);
                    }
                }

                .bar4{
                    top: 30px;

                    .body--show &{
                        opacity: 0;
                    }
                }
            }
        }
    }
}
