@use "../variables" as *;

header {
    overflow: visible;
    max-width: 100%;
    background-color: var(--ColorHeader);
    width: 100%;
    filter: none;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    view-transition-name: area-header;

    .header_nav{
        max-width: var(--MaxWidth);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .nav_brand{
            display: block;
            height: calc(var(--HeaderHeight) - 50px);
            width: auto;
            padding: 10px;

            img {
                height: 100%;
            }
        }

        .nav_menu{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            .nav_link {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0;
                padding: 10px 20px;
                color: var(--ColorWhite);
                text-align: center;

                .nav_title{
                    margin: 4px 0 0 0;
                    font-size: 10px;
                }

                .nav_icon{
                    width: 40px;
                    height: 40px;

                    &.nav_icon--profile{
                        border-radius: 10px;
                        width: 40px;
                        height: 40px;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &:hover {
                    background-color: var(--ColorPrimary);
                }

                &:active {
                    background-color: var(--ColorPrimary);
                }

                &:focus {
                    background-color: var(--ColorPrimaryLight);
                }

                &.nav_link--active {
                    background-color: var(--ColorPrimary);
                }
            }
        }
    }

    @include media(max-medium) {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);

        .nav_menu{
            overflow-x: scroll;
        }
    }
}
